.AboutMeFormFull{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.238));
}

.modalContainer {
    position: absolute;
    height: 80%;
    width: 47%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23222f;
    border: 1px groove #43405763;
    border-radius: 20px;
    box-shadow: -4px -3px 25px 11px rgba(0, 0, 0, 0.218);
}


@media (max-width: 962px) {
    .modalContainer {
        width: 60%;
    }
}
@media (max-width: 500px) {
    .modalContainer {
        width: 70%;
    }
}
@media (max-width: 400px) {
    .modalContainer {
        width: 80%;
    }
}
@media (max-width: 385px) {
    .modalContainer {
        width: 95%;
    }
}





.modalWin {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 98%;
  overflow-y: auto;
  gap: 20px;

}

.modalWinForm {
  height: 80%;
  text-align: center;
  width: 80%;


}

.modalWinForm p {
    font-size: 18px;
}


.modalform{
    z-index: 5;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
}

.WinTitle{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalWin .WinTitle .something{
    color: hwb(120 55% 32%);
    font-size: calc(25px + 2vh);
    text-align: center;
}


.close {
  position: absolute !important;
  top: 6%;
  left: 94%;
  font-size: 300%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.listAcdm {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 95%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.listAcdm p{

    text-align: center;
}

.xp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.xp h2{
    color: rgba(237, 248, 235, 0.863);
    font-size: calc(14px + 1vh);
}


.xp h3{
    color: rgba(237, 248, 235, 0.863);
    font-size: calc(7px + 1vh);
    font-style: italic;
    font-weight: 300;

}


.xp p{
    color: rgba(237, 248, 235, 0.863);
    font-size: calc(10px + 1vh);
    font-weight: 500;

}