.aside {
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    background-color: #1C1C27;
    width: calc(3.5/15 * 100%); 
    height: 100vh;
    position: fixed;
}


/* .aside:hover {
    flex: 1;
    transition: ease-in-out 300ms;
} */


.profile {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px 20px;
    border-bottom: 1px solid #292837;
}

.avatarContainer {
    border-radius: 100px;
    aspect-ratio: 1;
    height: 70%;
    margin-left: 10%;
    border: 2px groove #54aa76bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 100px;
    width: 100%;
    height: 100%;
    background-image: url(../public/retard.jpeg);
    background-size: 110%;
    background-position: 40%;
}

.profiletxt {
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.profiletxt p {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}

.name {
    font-weight: 500;
    font-size: calc(11px + 0.7vw);
}

.profileMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.function {
    color: #f7f7f7c4;
    font-size: 19px;
    font-weight: 300;
}

.ctaProfile {
    border: none;
    background-color: #009646;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    aspect-ratio: 4.5;
    width: 90%;
    align-items: center;
    gap: 5%;
    padding: 4px;
    color: #f7f7f7;
    cursor: pointer;
}

.ctaProfile:hover {
    background-color: #007336;
    transition: ease-in-out 200ms;
}

.ctaProfile p {
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    margin-bottom: 3px;
    font-size: calc(14px + 0.1vw);
}

.ctaProfile svg {
   margin-top: 1px;
}

.downloads {
    height: 90% !important;
    aspect-ratio: 1/1 !important;
}

.mediaWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5%;
    max-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: #4d4b63;
    border-top: 1px solid #292837;
}

.mediaSlot {
    display: flex;
    align-items: center;
}

.mediaSlot:hover {
    color: #f7f7f7;
   transition: ease-in-out 300ms;
    cursor: pointer;
}
.resume {
    height: 100%;
    width: 100%;
}


.asideelements {
    margin: 6% 4%;
    display: flex;
    gap: 20px; 
    flex-direction: column;
    overflow: hidden;
}

.asideelement {
    padding: 5px 17px;
    border: 1px groove #2e2e449f;
    border-radius: 6px;
    background-color: #222233db;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.431);
    overflow: hidden;
}

.asideelement h2 {
    color: rgba(255, 255, 255, 0.787);
    font-size: calc(11px + 0.5vw) !important;
}

.date {
    padding: 3px;
    font-size: 90%;
    color: rgb(203, 203, 203);
    font-weight: 400;
    font-style: italic;
}

.description {
    padding: 3px;
    font-size: 1rem;
    color: rgb(218, 215, 215);
    font-weight: 600;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}