.aside {
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    background-color: #1C1C27;
    width: calc(3.5/15 * 100%); 
    height: 100%;
    position: fixed;
    z-index: 50;
}

@media (max-width: 1143px) {

    .aside{
        height: calc(100% - var(--iconham)*259/310 - var(--iconham)/2);

        top: calc(var(--iconham)*259/310 + var(--iconham)/2);
        right: 0;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
        width: 350px;
    }
    
}

@media (max-width: 360px) {

    .aside{
        width: 100%;
    }
}


/* .aside:hover {
    flex: 1;
    transition: ease-in-out 300ms;
} */


.profile {
    padding: 4%;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 6px 20px;
    border-bottom: 1px solid #292837;
    min-height: 110px;
}

.avatarContainer {
    border-radius: 100px;
    aspect-ratio: 1;
    height: 100%;
    border: 2px groove #54aa76bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 100px;
    width: 100%;
    height: 100%;
    background-image: url(../public/ProfileImage.jpg);
    background-size: 110%;
    background-position: 40%;
}

.profiletxt {
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profiletxt p {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}

.name {
    font-weight: 500;
    font-size: 21px;
}

.profileMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.function {
    color: #f7f7f7c4;
    font-size: 19px;
    font-weight: 300;
}

.ctaProfile {
    border: none;
    background-color: #009646;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    aspect-ratio: 4.5;
    width: 90%;
    align-items: center;
    gap: 5%;
    padding: 4px;
    color: #f7f7f7;
    cursor: pointer;
    text-decoration: none;
}

.ctaProfile:hover {
    background-color: #007336;
    transition: ease-in-out 200ms;
}

.ctaProfile p {
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    margin-bottom: 3px;
    font-size: 15px;
}

.ctaProfile svg {
   margin-top: 1px;
}

.downloads {
    height: 90% !important;
    aspect-ratio: 1/1 !important;
}

.mediaWrapper {
    min-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5%;
    max-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: #4d4b63;
    border-top: 1px solid #292837;
}

.mediaSlot {
    color: #4d4b63;
    height: 100%;
    display: flex;
    align-items: center;
}

.mediaSlot:hover {
    color: #f7f7f7;
   transition: ease-in-out 300ms;
    cursor: pointer;
}
.resume {
    height: 100%;
    width: 100%;
}


.asideelements {
    
    padding: 6% 4%;
    display: flex;
    height: calc(100% - 7.5% - 15%);

    gap: 20px; 
    flex-direction: column;
    overflow-y: hidden;
    max-height: calc(100% -  50px - 110px);
}

@media (max-height: 588px) {
    .asideelements{
        overflow-y: scroll;
    }
}

.asideelement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    padding: 5px 17px;
    border: 1px groove #2e2e449f;
    border-radius: 6px;
    background-color: #2c2c41db;
    overflow: hidden;
    cursor: pointer;
    filter: brightness(80%);
    min-height: 100px;
}


.asideelement:hover {
   filter: brightness(1); 
   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.431);
}

.asideelementicon {
    height: 50%;
    width: auto;
}

.asideelement h2 {
    color: rgba(255, 255, 255, 0.787);
    font-size: calc(11px + 0.5vw) !important;
}

.date {
    padding: 3px;
    font-size: 90%;
    color: rgb(203, 203, 203);
    font-weight: 400;
    font-style: italic;
}

.description {
    padding: 3px;
    font-size: 1rem;
    color: rgb(218, 215, 215);
    font-weight: 600;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}