.header {
    width: calc(11.5/15 * 100%); 
    margin-left: calc(3.5/15 * 100%); 
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(90deg,#1b1e2b92,#2e3d307b);
    padding: 0 45px;
    gap: 25vh;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    border-radius: 6px;
    overflow: hidden;

}

.hireme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 3px 0;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
	color: white;
    border: 2px solid #009646;
	font-size: 1.5rem;
    background-color: #009646af;
	transition: 0.3s ease;
	transition-property: background-color, color;
    border-radius: 5px;
    cursor: pointer;
}

.hireme:hover{
	background-color: transparent;
	transition: 0.3s ease;
}

.main .animation {
    width: 40%;
    height: 100%;
}

.main .animation img{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    z-index: 1;
}

.skillsetWrapper {
    display: flex;
    flex-direction: column;
    gap: calc(18px + 2vh);
    width: 100%;
    padding: 0 3%;
}

@media (max-width: 1758px) {
    .skillsetWrapper {
        padding: 0 0;
    }

}

.skillsWrapper {
    width: 100%;
    position: relative;
    left: 2%;
}

.skillsetWrapper .heading {
    width: 100%;
}

.skillsetWrapper .heading h2{
    color: hwb(120 78% 10% / 0.95);
    font-family:"Space Grotesk,sans-serif" !important; 
    font-weight: 600;
    font-size: 35px !important;
    margin-bottom: 30px;

}

.mainTxtSide {
    width: 55%;
    padding: 2% 2%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;

}

.saad {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainTxtSide .heading .saad .name {
    font-weight: 800;
    background-image: linear-gradient(25deg,rgb(201, 220, 240),#9ac8d0);
    color: transparent;
    font-size: 4rem;
    font-style: italic;
    font-family: "Space Grotesk,sans-serif" !important;
}

.mainTxtSide .heading .saad .work {
    font-weight: 900;
    background-image: linear-gradient(25deg,rgba(201, 220, 240, 0.774),#9ad0a0c1);
    color: transparent;
    font-size: 3.5rem;
    font-style: italic;
    font-family: "Space Grotesk,sans-serif" !important;
}

.mainTxtSide .heading .saad p {
    font-weight: 300;
    word-spacing: 4px;
    color: rgba(225, 240, 255, 0.787);
    font-size: 1rem;
    font-style: italic;
    font-family: "Space Grotesk,sans-serif" !important;
}

.main .heading .presentation {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.787);
    font-size: 19px;
    font-style: italic;
    font-family: "Space Grotesk,sans-serif" !important;
    width: 100%;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    gap: 50px;

}


.main .heading {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-left: 5%;
    gap: 20%;
    
}

.main .heading span {
    font-size: 4rem;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.1;
}




.technical {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 3%;
}

.skillsWrapper {
}

.skillsWrapper .Title {
    width: 20%;
}

.technical h2 {
    color: #f7f7f7d7;
    font-family:"Space Grotesk,sans-serif" !important; 
    font-weight: 500;
    font-size: 30px !important;
    width: 100%;
}

.Others {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 3%;
}

.Others h2 {
    color: #f7f7f7d7;
    font-family:"Space Grotesk,sans-serif" !important; 
    font-weight: 500;
    font-size: 30px !important;
}

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 70%;
    height: 130px;
}


.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 0;
    background-color: #1C1C27;
    border-radius: 5px;
    transition: top ease 0.5s;

    border: 1px groove rgba(128, 133, 140, 0.138);
    height: 60%;
    width: 40%;
}

.skill p {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    color: #f7f7f7;
    font-size: calc(5px + 1vw);
    font-weight: 500;
}

.skill .level {
    font-size: calc(4px + 1vw);
    font-weight: 400;
    color: #f7f7f7c5;
}

.skill:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.skilltxt {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.techIcon {
    height: 50%;
    width: auto;
    left: 5%;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(216, 225, 237);
}

.intro h3 {
    font-weight: 350;
}

.arrow {
    cursor: pointer; 
    filter: invert(1) brightness(.9);
}

.arrow:hover {
    filter: invert(1) brightness(.7);
}

/* (skill.id >= n1) ? skill.id - n1 + 1 : skill.id + skill.length - n1 + 1 */

