.modalFormFull {
    height: 100vh;
    width: 100vw;
}

.modalContainer {
    position: absolute;
    height: 80%;
    width: 47%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23222f;
    border: 1px solid white;
    border-radius: 20px;
}

.modalWin {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 98%;
  overflow-y: auto;

}

.modalWinForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;

}


/* Set the width of the scrollbar */
.modalWin::-webkit-scrollbar {
  width: 10px;
}

.modalform{
    z-index: 5;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
}

.modalWin h2 {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}

.modalWinForm label{
    padding-bottom: 6px;
    
}

.modalWinForm .inputform {
  background-color: #1e2634;
  border-radius: 5px;
  fill: none;
  border: 1px solid #364250;
  height: 36px;
  padding: 5px 10px !important;
  color: #f7faffd2;
  margin-bottom: 30px;
}

.modalWinForm .ButtonWrapper {
  display: flex;
  justify-content: center;
}


.modalWinForm textarea {
  height: 120px !important;
}