.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(11px + 4vh);
    margin-bottom: 4vh;
}

.heading h2 {
    color: #f7f7f7d7;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-weight: 600;
    font-size: 35px;
}

.slots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.slot {
    position: relative;
    display: flex;
    color: #f7f7f7d7;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-color: #1C1C27;
    border: 1px solid #f7f7f729;
    border-radius: 5px;
}

.slot:hover{
    border: 1px groove #f7f7f716;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.slot img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(90%);
    z-index: 0;
}

.slotTitle {
    display: flex;
    justify-content: center;
}

.slotTitle h3 {
    font-size: 19px;
    font-weight: 600;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}


.slot:hover img{
    filter: brightness(30%);
    transition: 0.3s ease-in-out;
}

.slotfade {
    margin-top: 20%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
}

.slot:hover .slotfade {
  opacity: 1;
  transition: opacity 0.5s ease-in;

}

.slotText {
    padding: 10px;
    padding-inline: 20px;
}

.slotText p {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #f7f7f7b9;
    margin: 5px 0;
}

.slotUtils {
    padding: 10px;
    background-color: #161620; 
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hire {
    display: flex;
    justify-content: center;
    align-items: center;
}
